
  {{ partial "default_head.html" . }}

          <div class="section-layout--sloping-bottom-left hero typeset">
              <div class="hero__layout container">
                <h1 class="hero__header">PIXEL UP! 2016</h1>
                <p class="caption">September 12-14, 2016 in Johannesburg, South Africa</p>
                <h6 class="hero__lead">Thank you for an awesome first event. See you in 2017.</h6>
                <a href="https://twitter.com/letspixelup" class="button--light-blue button">Follow @letspixelup for updates</a>
                <!--
                <a href="https://play.google.com/store/apps/details?id=com.pixelup.pixelupApp&hl=en" class="button--light-blue button">Get the Android app</a> -->
              </div>
          </div>
    		<div class="content-wrapper">
                <div class="section-layout section-layout--no-padding">
                    <section class="section typeset container">
                            <h2 class="section__heading--blue">Influential speakers</h2>
                            <p class="caption caption--centered">With deep expertise and Broad experience</p>
                            <p>Learn from the authors, founders, directors and designers - who've worked at companies like SaleforcesUX, Apple, Twitter, Dropbox, Cooper, Google, and DesignMap - who are helping push the industry forward.</p>
                            <div class="speaker-grid">
                                {{ range last 8 (where .Site.Pages ".Section" "speakers") }}
                                    {{ .Render "li" }}
                                {{ end }}
                            </div>
                    </section>
                </div>
                <div class="section-layout section-layout--two-slopes section-layout--blue">
                    <section class="section typeset container">
                        <h2 class="section__heading--white">More than just a UX conference</h2>
                        <p class="caption caption--centered">It's about helping you improve how you make digital products.</p>
                        <p>To create products that customers love, we need <strong>user experience design</strong>. As well as <strong>user interface design</strong>, front and backend <strong>engineering</strong> and of course a great <strong>product strategy</strong>.
                            PIXEL UP! 2016 brings to Johannesburg designers and developers who've worked at <i>Dropbox</i>, <i>Twitter</i>, <i>Apple,</i> and <i>Google</i>
                            to share what they've learned about <strong>making great products with pixels</strong>.</p>

                    </section>
                </div>
                <div class="section-layout">
                    <section class="section typeset container">
                        <h2>Should you come to PIXEL UP!?</h2>
                        <p class="caption caption--centered">We say yes, but we're biased</p>
                        <div class="row">
                            <div class="column one-half">
                                <ul>
                                    <li class="no-bullet"><strong>You should come to PIXEL UP! if you:</strong></li>
                                    <li>Design apps and/or websites</li>
                                    <li>Build websites using the latest HTML5, JS and CSS tech</li>
                                    <li>Build Native apps for phones, tablets and wearables (TV)</li>
                                    <li>Manage projects that create apps and websites</li>
                                    <li>Hire designers</li>
                                    <li>Hire web and native app developers</li>
                                    <li>Manage (or pay for) medium to large web sites</li>
                                    <li>Manage (or pay for) iOS, Android and Windows apps</li>
                                    <li>Just wanna hang out with some geeks and designers</li>
                                </ul>
                            </div>
                            <div class="column one-half">
                                <img class="section-layout__image--tpad" src="/img/img-workshop.png"/>
                            </div>
                        </div>
                    </section>
                </div>
    		</div>


  {{ partial "default_foot.html" . }}
